/*nav bar*/
.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}
.bg-primary {
    background-color: #f75757!important;
    opacity: 1;
    height: 70px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

/*logo*/
#logoTxt{
font-family: 'Pacifico', cursive;
font-weight: 700px;
color:#ffffff; 
}
#logo{
	color:#ffffff;
	padding-top: 10px;
}
.Box{
   padding-left: 0px;
   padding-right: 0px;
}
/*search*/
.searchButton{
	background: white;
    color: #ff6060;
    border-radius: 0px !important;
}
.searchBar{
	width:430px !important;
    border-radius: 0px !important;
}
.searchButton:hover {
  background-color: none !important;
}
/*nav list*/
#navList{
	padding-left: 20px !important;
	color: rgb(255, 255, 255);
}

.nav-item{
	padding-right: 30px;
}
/**/
.megamenu{
	
	background-color: #ffd9dc;
	    visibility: visible;
    margin-top: 55px;
}
.nav-link {
    display: block;
    
    color: #a00000;
}
.nav-item nav-link a:hover{
	color: #ff2020 !important;
}

/*slider*/
#imgSize img{
	height: 541 !important;
	width: 1366;
}

.gridImg{
	height:18rem !important;
	padding: 10px;
}
.gridImg:hover{
	padding: 6px;
}
.items{
	margin-top: 40px;
	margin-bottom: 20px;
	margin-left: 10px;
	margin-right: 10px;
	
}
#margin-bottom { 
  margin-bottom: 25px;
  text-align: center;
  }

.gridBox{
	margin-right: 10px;
}

/*crousel */
#carousel {
    position: relative;
    height: 300px;
}




/* popular category cards */

.card{
	box-shadow: 8px 8px 5px rgb(207, 203, 203);	
	
}

.card-img-top{
	width:100%;
	 height:1000px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}

/* footer  */


.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-left: 0%;
	margin-top: 80px;
	
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/**/
.dropdown:hover>.dropdown-menu {
  display: block;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 20px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
